<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Detail</h3>
<p>
    <a th:href="@{/product}">
        Back to list
    </a>
</p>
<div id="form">
    <div>
        <label>Name:</label>
        <label th:text="${products.name}"></label>
    </div>
    <div>
        <label>Email:</label>
        <label th:text="${products.price}"></label>
    </div>
    <div>
        <label>Address:</label>
        <label th:text="${products.detail}"></label>
    </div>
    <div>
        <label>Address:</label>
        <label th:text="${products.company}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>